.tile {
    /* height: 100px;
    width: 100px; */
    /* border: 1px solid black; */
    overflow: hidden
}

.tile-silhouette {
    visibility: hidden;
    background: rgba(25, 23, 23, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    transition: 0.5s linear
}

.tile:hover > .tile-silhouette {
    visibility: visible;
}