#awards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    width: 100vw;
    /* padding: 20px */
}

.award {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.award img {
    max-height: 100%;
}