#footer {
    height: 50vh;
    width: 100vw;
    display: flex;
    background: rgba(100, 100, 100)
}

#footer-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1
}

#footer-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1
}

#footer-container-right h1 {
    font-size: 4rem;
}